div{
    margin:0;
    padding:0;
}
.container{
    border:1px solid red;
    width:5rem;
    height: 2.4rem;
    text-align:center;
}
.container:before{
    content:".";
    height:100%;
    display:inline-block;
    vertical-align:middle;
    visibility:hidden;
}
.child{
    display:inline-block;
    vertical-align:middle;
    font-size: 0.2rem;
}
.graph{
/*//box-sizing: border-box;*/
    position: relative;
    height: 0px;
    width: 0px;
    border-top: 100px solid #ffffff;
    border-right: 100px solid black;
    /*border-left: 100px solid black;*/
    border-bottom: 100px solid #ffffff;
}
.graph:after{
    content: '';
    position: absolute;
    top: -99px;
    left: 2px;
    border-top: 99px solid transparent;
    border-right: 99px solid #FFFFFF;
    border-bottom: 99px solid transparent;
}
/*栅格布局*/
.box{
    display: grid;
    background-color: #f1f1f1;
    grid-template: repeat(3,1fr) / repeat(3,1fr);
    /*grid-template-rows: repeat(3,1fr);*/
    /*grid-template-columns:50px 1fr 10px ;*/
    width: 300px;
    height: 300px;
    margin: auto;
}
.box>div{
    text-align: center;
    background-color: #444;
    line-height: 100px;
    font-size: 25px;
}
.box>div:nth-of-type(odd){
    background-color: aliceblue;
}
.box>div:nth-child(6){
    grid-row: 1/2;   //水平网格线
    grid-column: 2/3;    //列网格线的开始和结束
background-color: red;
}
.container1{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-areas:
            "header  header  header"
            "nav     main    aside"
            "footer  footer  footer";
//z注意：header 和 footer 单词重复三次。 这表明，header 和 footer 横跨 3 列的宽度
grid-gap: .75em;
    background-color: #eee;
    width: 100vw;
    height: 100vh;
}
header{
    grid-area: header;
    background-color: #9b59b6;
}

nav{
    grid-area: nav;
    background-color: #3498db;
}

main{
    grid-area: main;
    background-color: #2ecc71;
}

aside{
    grid-area: aside;
    background-color: #f1c40f;
}

footer{
    grid-area: footer;
    background-color: #1abc9c;
}
